@use "variables" as *;

.section-name {
    @include flexCenter;
    background-color: $hoverColor;
    border-radius: $borderRadius10;
    color: $accentColor;
    font-size: 2rem;
    line-height: 3rem;
    padding: 5px 30px;
    text-transform: uppercase;

    &.active {
        background-color: $accentColor;
        color: $white;
    }
}
