@use "variables" as *;

.section-name {
    @include flexCenter;
    background-color: $accentColor;
    border-radius: $borderRadius10;
    color: $white;
    font-size: 2rem;
    line-height: 3rem;
    padding: 5px 30px;
    text-transform: uppercase;
}
