@use "variables" as *;

.section-name {
    @include flexCenter;
    background-color: $hoverColor;
    border-radius: $borderRadius10;
    color: $accentColor;
    font-size: 2rem;
    line-height: 3rem;
    padding: 5px 30px;
    text-transform: uppercase;
    transition: $transition;
    @include phone {
        padding: 5px 15px;
        white-space: nowrap;
        overflow: hidden;
        white-space: nowrap;
    }

    &.active {
        background-color: $accentColor;
        color: $white;
    }
}

.dark-mode {
    .section-name {
        background-color: $hoverColorTransparent;

        &.active {
            background-color: $accentColor;
        }
    }
}
