@use "variables" as *;

.gallery {
    display: grid;
    gap: 20px;

    &__wrapper {
        display: grid;
        grid-template-areas:
            "tile1 tile2 tile3"
            "tile1 tile5 tile5"
            "tile4 tile5 tile5";
        grid-template-rows: 140px 140px 140px;
        grid-template-columns: minmax(auto, 210px) minmax(auto, 210px) minmax(
                auto,
                210px
            );
        gap: 20px;

        &:nth-child(even) {
            grid-template-areas:
                "tile3 tile2 tile1"
                "tile5 tile5 tile1"
                "tile5 tile5 tile4";
        }
    }

    &__item {
        &:first-child {
            grid-area: tile1;
        }

        &:nth-child(2) {
            grid-area: tile2;
        }

        &:nth-child(3) {
            grid-area: tile3;
        }

        &:nth-child(4) {
            grid-area: tile4;
        }

        &:nth-child(5) {
            grid-area: tile5;
        }
    }
}
