@use "variables" as *;

.home {
    @include flexCenter;
    flex-grow: 1;
    height: 100vh;
    padding: 30px;
    position: relative;

    &__bg-block {
        background-color: $hoverColor;
        border-radius: $borderRadius20;
        height: 100%;
        width: 100%;
    }

    &__image {
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
    }
}
