@use "../../variables" as *;

.button {
    background-color: $white;
    border: none;
    cursor: pointer;
    outline: none;
    transition: $transition;

    path {
        transition: $transition;
    }

    &.fill {
        background-color: $hoverColor;
    }

    &.text-button {
        border-radius: $borderRadius10;
        color: $accentColor;
        font-size: 1.2rem;
        letter-spacing: 2px;
        line-height: 1.6rem;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: $hoverColor;
        }

        &:active,
        &.active {
            background-color: $accentColor;
            color: $white;
        }
    }

    &.icon-button {
        @include flexCenter;

        &.small {
            border-radius: $borderRadius10;
            padding: 10px;
        }

        &.large {
            border-radius: $borderRadius20;
            padding: 15px;
        }

        path {
            fill: $accentColor;
        }

        &:hover {
            background-color: $hoverColor;
        }

        &:active,
        &.active {
            background-color: $accentColor;

            path {
                fill: $white;
            }
        }
    }

    &.icon-text-button {
        align-items: center;
        background-color: $hoverColor;
        border-radius: $borderRadius10;
        display: flex;
        gap: 10px;
        justify-content: center;
        padding: 12px 30px;

        path {
            fill: $accentColor;
        }

        &:active,
        &.active {
            background-color: $accentColor;

            path {
                fill: $white;
            }
        }
    }
}
