@use "variables" as *;

.app {
    background-color: $lightGray;
    display: flex;
    flex-grow: 1;
    transition: $transition;

    &__wrapper {
        display: flex;
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
    }

    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        &__logo {
            align-items: center;
            color: $black;
            display: flex;
            gap: 8px;
            text-decoration: none;
            transition: $transition;
        }
    }

    &__title {
        margin-top: 50px;
    }

    &__welcome-text {
        margin-top: 10px;
    }

    &__subtitle {
        margin-top: 60px;
    }

    &__side-wrapper {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        z-index: 1;

        @include laptop {
            flex-grow: 1;
        }
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .content {
        display: flex;
        flex-basis: 50%;

        @include laptop {
            flex-grow: 1;
        }
    }
}

.dark-mode {
    &.app {
        background-color: $black;

        .header__logo {
            color: $white;
        }
    }
}
