@use "variables" as *;

.voting {
    &__button {
        @include flexCenter;
        border: 0;
        cursor: pointer;
        outline: none;
        padding: 25px;
        transition: $transition;
        @include tablet {
            padding: 15px;
        }

        path {
            fill: $white;
            transition: $transition;
        }

        &:first-child {
            border-bottom-left-radius: $borderRadius20;
            border-top-left-radius: $borderRadius20;
            @include tablet {
                border-bottom-left-radius: $borderRadius10;
                border-top-left-radius: $borderRadius10;
            }
        }

        &:nth-child(2) {
            border-left: 4px solid $white;
            border-right: 4px solid $white;
        }

        &:last-child {
            border-bottom-right-radius: $borderRadius20;
            border-top-right-radius: $borderRadius20;
            @include tablet {
                border-bottom-right-radius: $borderRadius10;
                border-top-right-radius: $borderRadius10;
            }
        }

        &.likes {
            background-color: $green;

            &:hover {
                background-color: #e0f9ea;

                path {
                    fill: $green;
                }
            }

            &:active {
                background-color: $green;

                path {
                    fill: $white;
                }
            }
        }

        &.favourites {
            background-color: $accentColor;

            &:hover {
                background-color: $hoverColor;

                path {
                    fill: $accentColor;
                }
            }

            &:active {
                background-color: $accentColor;

                path {
                    fill: $white;
                }
            }
        }

        &.dislikes {
            background-color: $yellow;

            &:hover {
                background-color: #fff2d9;

                path {
                    fill: $yellow;
                }
            }

            &:active,
            .active {
                background-color: $yellow;

                path {
                    fill: $white;
                }
            }
        }

        &:disabled {
            background-color: $lightGray;
            border-color: $lightGray;
            cursor: initial;

            path {
                fill: $gray;
            }

            &:hover,
            &:active,
            .active {
                background-color: $lightGray;

                path {
                    fill: $gray;
                }
            }
        }

        &-group {
            align-items: center;
            background-color: $white;
            border-radius: 23px;
            bottom: 0;
            display: flex;
            left: 50%;
            padding: 4px;
            position: absolute;
            transform: translate(-50%, 50%);
            transition: $transition;
            @include tablet {
                border-radius: 13px;
            }
        }
    }
}

.dark-mode {
    .voting {
        &__button {
            &-group {
                background-color: $darkGray;
            }
        }
    }
}
