@use "variables" as *;

.voting {
    &__button {
        @include flexCenter;
        border: 4px solid $white;
        cursor: pointer;
        outline: none;
        padding: 25px;
        transition: $transition;

        path {
            fill: $white;
            transition: $transition;
        }

        &:first-child {
            border-bottom-left-radius: $borderRadius20;
            border-right: 0;
            border-top-left-radius: $borderRadius20;
        }

        &:last-child {
            border-bottom-right-radius: $borderRadius20;
            border-left: 0;
            border-top-right-radius: $borderRadius20;
        }

        &.likes {
            background-color: $green;

            &:hover {
                background-color: #e0f9ea;

                path {
                    fill: $green;
                }
            }

            &:active {
                background-color: $green;

                path {
                    fill: $white;
                }
            }
        }

        &.favourites {
            background-color: $accentColor;

            &:hover {
                background-color: $hoverColor;

                path {
                    fill: $accentColor;
                }
            }

            &:active {
                background-color: $accentColor;

                path {
                    fill: $white;
                }
            }
        }

        &.dislikes {
            background-color: $yellow;

            &:hover {
                background-color: #fff2d9;

                path {
                    fill: $yellow;
                }
            }

            &:active,
            .active {
                background-color: $yellow;

                path {
                    fill: $white;
                }
            }
        }

        &:disabled {
            background-color: $lightGray;
            border-color: $lightGray;
            cursor: initial;

            path {
                fill: $gray;
            }

            &:hover,
            &:active,
            .active {
                background-color: $lightGray;

                path {
                    fill: $gray;
                }
            }
        }

        &-group {
            align-items: center;
            bottom: 0;
            display: flex;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 50%);
        }
    }
}
