@use "variables" as *;

.gallery {
    &__upload-button {
        margin-left: auto;
        @include tablet {
            width: 100%;
        }
    }

    &__filters {
        background-color: $lightGray;
        border-radius: $borderRadius20;
        column-gap: 20px;
        display: grid;
        grid-template: min-content min-content / 1fr 1fr;
        padding: 10px 20px 20px;
        row-gap: 10px;
        transition: $transition;
        @include tablet {
            display: flex;
            flex-direction: column;
        }

        &-group {
            align-items: flex-end;
            display: flex;
            gap: 10px;

            @include tablet {
                flex-direction: column;

                > * {
                    width: 100%;
                }
            }

            .select {
                flex-grow: 1;
            }
        }

        select {
            color: $black;
        }
    }

    &__gallery-grid {
        height: calc(100vh - 405px);
        @include tablet {
            height: calc(100vh - 698px);
        }
        @include phone {
            height: auto;
        }
    }

    &-route__tile {
        .tile-overlay__background {
            @include flexCenter;
        }
    }
}

.dark-mode {
    .gallery {
        &__upload-button {
            background-color: $hoverColorTransparent;
        }

        &__filters {
            background-color: $messageGray;
        }

        &__refresh-button {
            background-color: $black;
        }
    }
}
