@use "variables" as *;

.search {
    &__description {
        display: flex;
        gap: 5px;
    }

    &__keyword {
        font-weight: 600;
    }

    &__gallery-grid {
        height: calc(100vh - 280px);
        @include tablet {
            height: calc(100vh - 330px);
        }
    }
}
