@use "variables" as *;

.upload-modal {
    &__title {
        font-size: 3.6rem;
        line-height: 5.6rem;
        margin-top: 40px;
        text-align: center;
    }

    &__description {
        margin-top: 10px;
        text-align: center;

        a {
            text-decoration: none;
            color: $accentColor;
        }
    }

    &__message {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: $white;
        padding: 20px;
        border-radius: $borderRadius10;

        &-text.typography {
            font-size: 1.6rem;
            line-height: 1;
        }
    }
}
