@use "variables" as *;

.upload-modal {
    &__title {
        font-size: 3.6rem;
        line-height: 5.6rem;
        margin-top: 40px;
        text-align: center;
    }

    &__description {
        margin-top: 10px;
        text-align: center;

        a {
            text-decoration: none;
            color: $accentColor;
        }
    }
}
