@use "variables" as *;

.breeds {
    &__section-top {
        @include tablet {
            flex-wrap: wrap;
        }
    }

    &__type-select {
        flex-grow: 1;
        @include tablet {
            width: 100%;
        }
    }

    &__limit-select {
        @include tablet {
            flex-grow: 1;
        }
    }

    &__tile {
        .tile-overlay__background {
            align-items: end;
            display: flex;
            padding: 10px;

            .breeds__tile-button {
                padding: 10px;
            }
        }

        &-button {
            flex-grow: 1;
        }
    }
}
