@use "variables" as *;

.breeds {
    &__top {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    &__type-select {
        flex-grow: 1;
    }

    &__tile {
        .tile-overlay__background {
            align-items: end;
            display: flex;
            padding: 10px;
        }

        &-button {
            flex-grow: 1;
        }
    }
}
