@use "variables" as *;

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: fit-content;

    &__image {
        align-items: center;
        border-color: rgba(255, 255, 255, 0.6);
        border-radius: $borderRadius20;
        border-style: solid;
        border-width: 4px;
        display: flex;
        height: 198px;
        justify-content: center;
        transition: $transition;
        width: 138px;

        &:hover {
            border-color: $white;
        }

        &:active {
            border-color: $hoverColor;
        }
    }

    &__button {
        display: flex;
        width: 100%;

        & > * {
            width: 100%;
        }
    }
}
