@use "variables" as *;

.content {
    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 10px;
        padding: $contentOuterSpace $contentOuterSpace $contentOuterSpace 0;
    }

    &__navigation {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    &__search {
        flex-grow: 1;
    }
}
