@use "variables" as *;

.voting {
    &__message {
        align-items: center;
        background-color: $lightGray;
        border-radius: $borderRadius10;
        display: flex;
        gap: 20px;
        padding: 15px;
        transition: $transition;
        @include tablet {
            flex-direction: column;
            gap: 15px;

            & > div {
                width: 100%;
            }
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 100%;
        }

        &-time {
            @include flexCenter();
            background-color: $white;
            border-radius: 5px;
            flex-basis: 45px;
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 3px 10px;
            transition: $transition;
        }

        &-text {
            flex-grow: 1;
            font-size: 1.6rem;
            transition: $transition;

            b {
                transition: $transition;
            }
        }

        &-reaction {
            svg {
                height: 20px;
                width: 20px;
            }

            &.like {
                path {
                    fill: $green;
                }
            }

            &.dislike {
                path {
                    fill: $yellow;
                }
            }
        }
    }
}

.dark-mode {
    .voting {
        &__message {
            background-color: $messageGray;

            &-time {
                background-color: $black;
                color: $white;
            }

            &-text {
                color: $gray;

                b {
                    color: $white;
                }
            }
        }
    }
}
