@use "variables" as *;

.search {
    display: flex;
    position: relative;

    &__input {
        border-color: transparent;
        border-radius: $borderRadius20;
        border-style: solid;
        border-width: 2px;
        color: $black;
        display: flex;
        flex-grow: 1;
        font-size: 2rem;
        line-height: 3rem;
        outline: none;
        padding: 13px 50px 13px 20px;
        transition: $transition;

        &::placeholder {
            color: $gray;
        }

        &:hover {
            border-color: $hoverColor;
        }

        &:focus {
            border-color: $accentColor;
        }
    }

    &__button {
        background-color: $hoverColor;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.dark-mode {
    .search {
        &__input {
            background-color: $darkGray;
            color: $white;

            &:hover {
                border-color: $hoverColorTransparent;
            }
        }

        &__button {
            background-color: $hoverColorTransparent;

            &:hover {
                background-color: $hoverColorTransparent;
            }
        }
    }
}
