@use "variables" as *;

.item-not-found {
    align-items: center;
    background-color: $lightGray;
    border-radius: $borderRadius10;
    display: flex;
    height: min-content;
    justify-content: flex-start;
    padding: 18px 20px;
    width: 100%;

    p.typography {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
