@use "variables" as *;

.tile {
    background-color: $lightGray;
    border-radius: $borderRadius20;
    overflow: hidden;
    position: relative;

    &__image {
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        width: 100%;
    }
}

.dark-mode {
    .tile {
        background-color: $black;
    }
}
