// fonts
$font-regular: JostRegular;

// colors
$accentColor: #ff868e;
$black: #1d1d1d;
$gray: #8c8c8c;
$hoverColor: #fbe0dc;
$lightGray: #f8f8f7;
$tileOverlayColor: rgba(255, 134, 142, 0.6);
$white: #ffffff;
$green: #97eab9;
$yellow: #ffd280;

// border-radius
$borderRadius10: 10px;
$borderRadius20: 20px;

// transitions
$transition: all 0.3s ease;

// @mixins
@mixin absoluteCenter {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    align-items: center;
    display: flex;
    justify-content: center;
}
