// fonts
$font-regular: JostRegular;

// colors
$accentColor: #ff868e;
$black: #1d1d1d;
$gray: #8c8c8c;
$hoverColor: #fbe0dc;
$lightGray: #f8f8f7;
$white: #ffffff;

// transitions
$transition: all 0.3s ease;
