@use "./variables" as *;

* {
    box-sizing: border-box;
}

html {
    background-color: $lightGray;
    font-family: $font-regular;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
}
