@use "variables" as *;

.image {
    aspect-ratio: $aspectRatio;
    border-radius: $borderRadius20;
    overflow: hidden;
    @include flexCenter;

    img {
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        width: 100%;
    }
}
