@use "variables" as *;

.sorting-button {
    border-color: transparent;
    border-radius: $borderRadius10;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    transition: $transition;

    path {
        transition: $transition;
    }

    &.active {
        background-color: $lightGray;
        border-color: $hoverColor;

        path {
            fill: $accentColor;
        }
    }
}
