@use "variables" as *;

.button.sorting-button {
    background-color: $lightGray;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    width: 40px;

    path {
        fill: $gray !important;
        transition: $transition;
    }

    &:hover {
        background-color: $lightGray;
    }

    &.active {
        background-color: $lightGray;
        border-color: $hoverColor;

        path {
            fill: $accentColor !important;
        }
    }
}

.dark-mode {
    .button.sorting-button {
        background-color: $messageGray;

        &.active {
            border-color: $hoverColorTransparent;
            background-color: $messageGray;
        }
    }
}
